{% extends "oef/base.html" %}

{% block content %}
<br>
<br>
<br>
{% if request.user.is_authenticated %}
<h1 style="font-size: 45px;">
       Hello {{ request.user }}!
</h1>
    <br>

    {% if  num > 0 %}

        <h2 style="font-size: 145px;color: red">
            {{ num }}
        </h2>
        <form action="{% url 'fav_aft' %}" method="post">
             {% csrf_token %}
            <!-- <label for="your_num">Your number: </label> -->
            <!-- <input id="your_num" type="IntegerField" name="your_num" value="{{  num |add:-1}}"> -->
            <input type="hidden"  name ="num" value="{{  num|add:-1 }}">
            <!-- <input type="integer" value="Your favorite number" value="{{ num |add:-1 }}"> -->
            <input class="btn btn-secondary" type="submit" value="Tel Af">
        </form>
    {% else %}
        <h2 style="font-size: 45px;color: red">
           {{ num }} sqdss Happy NEWYEAR!
        </h2>
    {% endif %}

{% else %}
        Je bent niet ingelogd, maar toch: HAPPY NEW YEAR!!!
{% endif %}

{% endblock content %}

