{% extends "oef/base.html" %}
{% block header %}

{% endblock header %}


{% block content %}
     <br>
<!-- {% if my_answer %}
     <div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">
        {{  my_answer }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" ></button>
    </div>
{% endif %}
-->

     <br> <br>
    <h1 style="font-size: 45px;">

    hier gaat het beginnen
  <!--   <br>

    {{ ques }} =

    </h1>
   <br>

    <form action="{% url '2F2F_77' %}" method="post">
     {% csrf_token %}
    <input type="text"  name ="your_ans" value="">
    <input class="btn btn-secondary" type="submit" value="Next">
    <input type="hidden"  name ="new_ind" value="{{  ind|add:1 }}">
    <input type="hidden"  name ="old_ques" value="{{  ques }}">

     </form>

 -->

{% endblock content %}

